@import url('https://fonts.googleapis.com/css?family=Sarabun|Source+Sans+Pro');


body{
    background-image: url(../img/back_image.png);
    background-repeat: repeat;
}
.logo{
    width: 65%;
    margin: -1px;
}
.container{
    padding-top: 2.5%;
}
.card-title{
    font-family: 'Sarabun', sans-serif;
}
.card-text, .navbar-nav{
    font-family: 'Source Sans Pro', sans-serif;
}
