<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nioscent : Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="card mb-3">
            <img class="card-img-top" src="{{ url_for('static', filename='img/banner.png') }}"
                alt="Nioscent Technologies">
            <div class="card-body">
                <h5 class="card-title display-4">Nioscent Technologies</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque mollitia praesentium architecto
                    natus
                    dignissimos id, maiores fugit ab similique totam tempora ratione fugiat corporis. Nesciunt amet
                    aut
                    velit eius sequi!
                </p>
                <p class="card-text">
                    LLorem ipsum dolor sit amet consectetur adipisicing elit. Cumque mollitia praesentium architecto
                    natus
                    dignissimos id, maiores fugit ab similique totam tempora ratione fugiat corporis. Nesciunt amet
                    aut
                    velit eius sequi!
                </p>
                <p class="card-text">
                    LLorem ipsum dolor sit amet consectetur adipisicing elit. Cumque mollitia praesentium architecto
                    natus
                    dignissimos id, maiores fugit ab similique totam tempora ratione fugiat corporis. Nesciunt amet
                    aut
                    velit eius sequi!
                </p>
                <a href=" {{ url_for('about') }} " class="btn btn-outline-primary btn-lg btn-block">About</a>
                <a href=" {{ url_for('contact') }} " class="btn btn-outline-danger btn-lg btn-block">Contact</a>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>