<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nioscent : Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}

    <div class="container">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ url_for('static', filename='img/logo.png') }}" alt="Nioscent Technologies">
            <div class="card-body">
                <h5 class="card-title">Nioscent Technologies</h5>
                <p class="card-text">
                    <embed src="{{ url_for('static', filename='content/index.html') }}"/>
                    <a href=" {{ url_for('about') }} " class="btn btn-primary">Go somewhere</a>
                </p>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>